<div class="container">
   <%= link_to "イベント作成はこちら", new_admins_event_path %> <br>
   <%= link_to "イベント一覧はこちら", admins_events_path %> 
    <h3 class="midashi3">How To Use & About Us</h3>
    <div class="row">
      <div class="col-lg-6">
        <h4 class="midasahi4">大会企画者向け機能</h4>
        <ul>
          <ol>大会やイベントを立ち上げる</ol>
          <ol>動画を集め編集する</ol>
          <ol>動画を元にジャッジする</ol>
        </ul>
      </div>
      <div class="col-lg-6">
        <h4 class="midashi4">大会参加者向け機能</h4>
        <ul>
          <ol>大会やイベントを立ち上げる</ol>
          <ol>動画を集め編集する</ol>
          <ol>動画を元にジャッジする</ol>
        </ul>
      </div>
    </div>
  <div class="event-user-area">
    <h3 class="midashi3">大会参加者向け</h3>
    <div class="row">
      <h4 class="midashi4">Step1</h4>
      <ul>
        <li>大会参加希望者は会員登録の後ログインしてください</li>
        <li>立ち上がってるイベントを確認してください</li>
        <li>興味のある大会にエントリーすれば申し込み完了です。</li>
      </ul>
    </div>
    <div class="row">
      <h4 class="midashi4">Step2</h4>
      <ul>
        <li>大会エントリー完了後、表示されるフォームより滑走動画を提供してください</li>
        <li>エントリーが完了していても、動画を贈り忘れることだけは注意してください</li>
      </ul>
    </div>
    <div class="row text-center">
      <div class="btn btn-primary">
        <%= link_to "開催中のイベントを確認する", events_path, style:"color:white;" %>
      </div>
    </div>
  </div>
  
  <div class="event-user-area">
    <div class="row">
      <h4 class="midashi4">Step1</h4>
      <ul>
        <li>イベント立ち上げページより大会の「種目」、「参加人数」などを入力してください</li>
        <li>登録確定後、イベントが立ち上げ完了していることを確認してください</li>
      </ul>
    </div>
    <div class="row">
      <h4 class="midashi4">Step2</h4>
      <ul>
        <li>イベント立ち上げページより大会の「種目」、「参加人数」などを入力してください</li>
        <li>登録確定後、イベントが立ち上げ完了していることを確認してください</li>
      </ul>
    </div>
    <div class="row">
      <h4 class="midashi4">Step3</h4>
      <ul>
        <li>イベント立ち上げページより大会の「種目」、「参加人数」などを入力してください</li>
        <li>登録確定後、イベントが立ち上げ完了していることを確認してください</li>
      </ul>
    </div>
    <div class="row">
      <h4 class="midashi4">Step4</h4>
      <ul>
        <li>イベント立ち上げページより大会の「種目」、「参加人数」などを入力してください</li>
        <li>登録確定後、イベントが立ち上げ完了していることを確認してください</li>
      </ul>
    </div>
    
    <div class="row text-center">
      <p class="btn btn-primary">イベントを立ち上げる</p>
    </div>
  </div>
</div>