/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//クラス命名規則//
// 1.c-はcommon(共通)の意味
// 2.各関連ごとにタイトルをコメントアウトで表示
// 3.container✕モデル名でクラスを作ること

// 0共通関連
// 0-1改行反映
.c-text-field {
    white-space: pre-wrap;
    word-wrap: break-word;
}



// 1フォーム関連
// 1-1ログイン関連

.c-form-area {
    display: flex;
    justify-content: center;
}

.c-form {
    text-align: left;
    width: 450px;
    border: solid 1px gray;
    box-shadow: 4px 8px 4px rgba(0,0,0,0.3);
    padding: 20px 20px;
}
// 1-2イベント関連
.c-eventform {
    padding: 20px 20px 30px 40px;
    width: 600px;
    border: solid 1px gray;
    box-shadow: 4px 8px 4px rgba(0,0,0,0.3);
}

.c-row {
    margin: 10px;
}

.container.event {
    display: flex;
    justify-content: left;
    
    .row.you{
        width: 600px;
        border: solid 1px gray;
        margin-left: 30px;
    }
    .row.o {
          margin-left: 30px;
    }
    
}

.event-intro{
    width: 500px;
}

