<div class="container">
  <div class="row">
      <% a = 0 %>
      <% @events.each do |event| %>
       <%= a += 1 %><%= event.title %><br>
       <%= event.event1 %>
      <% end %>
  </div>
</div>
